body {
    background: url("images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
}

.header {
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 30px;
}

.sec1 {
    color: white;
    margin-top: 29vh;
    margin-left: 10vw;
    display: inline-block;
}

.form-box {
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: black;
    background-color: white;
    width: 50%;
    float: right;
}

.personal-info {
    display: block;
    padding: 10px 50px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    
}